@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: hsl(220 14% 96%);
  color: hsl(224 71% 4%);
  min-height: 100vh;
}